@import "tailwindcss";

@theme {
    /* tbd */
    --font-sans: "Inter", system-ui, sans-serif;

    /* tbd */
    --color-bg: #0b0f19;
    --color-primary: #111827;
    --color-primary-active: #4338ca;
    --color-secondary: #4f46e5;
    --color-secondary-active: #4f46e5;
    --color-text: #e5e7eb;
    --color-text-secondary: #9ca3af;
}

@layer base {

    body,
    html {
        height: 100%;
        touch-action: manipulation;
        -webkit-tap-highlight-color: transparent;
    }

    * {
        -webkit-user-select: none;
        user-select: none;
    }
}