@import "tailwindcss";

@theme {
    --font-sans: "Inter", system-ui, sans-serif;

    --color-bg: #0b0f19;
    --color-surface: #111827;
    --color-primary: #4f46e5;
    --color-primary-hover: #4338ca;
    --color-text: #e5e7eb;
    --color-muted: #9ca3af;
}

@utility no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@layer base {

    body,
    html {
        height: 100%;
        touch-action: manipulation;
        -webkit-tap-highlight-color: transparent;
    }

    * {
        -webkit-user-select: none;
        user-select: none;
    }
}