@import "tailwindcss";

@layer base {

    body,
    html {
        height: 100%;
        touch-action: manipulation;
        -webkit-tap-highlight-color: transparent;
    }

    * {
        -webkit-user-select: none;
        user-select: none;
    }
}